@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --btn-border-color: #f1f1f1;
  --working-color: #a33d81;
  --resting-color: #23aae1;
  --timer-bg-color: #666;
  transform: translate3d(0);
}

.light-mode {
  --background: #ffffff;
  --foreground: #171717;
  --btn-border-color: #111;
  --working-color: #f11dab;
  --resting-color: #33bcf2;
  --timer-bg-color: #ccc;
}

/* Fallback to system preference if JavaScript is disabled */
@media (prefers-color-scheme: dark) {
  :root:not(.dark-mode):not(.light-mode) {
    --background: #0a0a0a;
    --foreground: #ededed;
    --btn-border-color: #f1f1f1;
    --working-color: #a33d81;
    --resting-color: #23aae1;
    --timer-bg-color: #666;
  }
}

html,
body,
:root {
  height: 100%;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: color 1s ease, background-color 1s ease, border-color 1s ease,
    box-shadow 1s ease;
}
